{% extends "base.html" %}

{% block title %}Event Playback{% endblock %}
{% block title2 %}Event Playback{% endblock %}

{% block extra_head %}

<script type="text/javascript">
var frameAry = new Array(
{% for frame in framelist %}
    $('<img />').attr('src', "/frame/viewthumb?frame={{ frame.key }}" ){% if not forloop.last %},{% endif %}
{% endfor %}
);

var nextFrame = 0;
var numFrames = frameAry.length;
function animateNextFrame () {
    $('#imagePlayer').attr('src', frameAry[nextFrame].attr('src'));
    $("#progressbar").progressbar({ value: Math.round((nextFrame + 1) * 100.0 / numFrames)});
    nextFrame = (nextFrame + 1) % numFrames;
}

if (numFrames > 0) {
    setInterval("animateNextFrame()", 500);
}

$(function() {
	$("#progressbar").progressbar({ value: 0 });
});

function handle_back_button() {
    //document.location = "";
    //location.replace("xxx");
    history.go(-1);
}

function handle_delete_button(eventkey) {
    $.post('/events/delete', { event: eventkey }, function(data) { 
        alert(data); 
        //location.reload(); 
        history.go(-1);
        // TODO: force refresh of previous page.
        // window.location.reload(history.go(-2));
    });
}

</script>


{% endblock %}

{% block content %}

    <p>
    <button onclick="handle_back_button()">&lt; Back</button>
    <button onclick="handle_delete_button('{{ event.key }}')">Delete event</button>
    </p>
    <br/>

    <p>Event has {{ event.total_frames }} frames.</p>
    <div id="progressbar"></div>

    <img id="imagePlayer"/>
{% endblock %}
