{% extends "base.html" %}

{% block title %}Event Playback{% endblock %}
{% block title2 %}Event Playback{% endblock %}

{% block extra_head %}
<script type="text/javascript">
var frameAry = new Array(
{% for frame in framelist %}
    $('<img />').attr('src', "/frame/viewthumb?frame={{ frame.key }}" ){% if not forloop.last %},{% endif %}
{% endfor %});

var nextFrame = 0;
var numFrames = frameAry.length;

</script>
<script src="/js/imgseq.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <p>
    <button onclick="handle_back_button()">&lt; Back</button>
    <button onclick="handle_delete_button('{{ event.key }}')">Delete event</button>
    </p>
    <br/>

    <p>Event has {{ event.total_frames }} frames.</p>
    <div id="playback_group">
    <button id="playback_first_frame">&nbsp;</button>
    <button id="playback_prev_frame">&nbsp;</button>
    <button id="playback_stopstart">&nbsp;</button>
    <button id="playback_next_frame">&nbsp;</button>
    <button id="playback_last_frame">&nbsp;</button>    
    </div>
    <br/>
    <div id="sliderbar" style="background: #bbb;"></div><br/>

    <img id="imagePlayer"/>
{% endblock %}
