{% extends "base.html" %}

{% block title %}Event Playback{% endblock %}
{% block title2 %}Event Playback{% endblock %}

{% block extra_head %}

<script type="text/javascript">
var frameAry = new Array(
{% for frame in framelist %}
    $('<img />').attr('src', "/frame/viewthumb?frame={{ frame.key }}" ){% if not forloop.last %},{% endif %}
{% endfor %}
);

var nextFrame = 0;
var numFrames = frameAry.length;
function animateNextFrame () {
    $('#imagePlayer').attr('src', frameAry[nextFrame].attr('src'));
    $("#progressbar").progressbar({ value: Math.round((nextFrame + 1) * 100.0 / numFrames)});
    nextFrame = (nextFrame + 1) % numFrames;
}

if (numFrames > 0) {
    setInterval ("animateNextFrame()", 500);
}

$(function() {
	$("#progressbar").progressbar({ value: 0 });
});

</script>


{% endblock %}

{% block content %}

    <p>Event has {{ event.total_frames }} frames.</p>
    <div id="progressbar"></div>

    <img id="imagePlayer"/>
{% endblock %}
